html, body
{
	width: 100%;
}

body
{
	margin: 0px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	
	/* Reference: haxe.org */
	background-color: rgb(168,75,56);
	background-repeat: no-repeat;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, 50% 80%, 0, center center, 100, from(rgb(183,77,49)), to(rgb(100,33,38)));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
	/* Firefox 3.6+ */
	background: -moz-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
	/* IE 10 */
	background: -ms-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
}

h1, h3
{
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
}

body > div
{
	padding: 8px;
}

body > .examples > div > *:nth-child(2)
{
	margin: 8px;
	padding: 8px;
	display: block;
	border: 2px solid rgb(234, 130, 32);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

div.titlebar
{
	background-color: #000000;
	color: #FFFFFF;
}

/* 
Force div elements to surround
their children. (Clearfix)
Reference: https://css-tricks.com/snippets/css/clear-fix/
*/
.examples > div:before, .examples > div:after, .examples > div > *:before, .examples > div > *:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}

.haxe-logo
{
	float: left;
	position: relative;
	width: 25px;
	height: 25px;
	top: 3px;
}

h3.title
{
	position: relative;
	left: 10px;
	width: 90%;
}

small
{
	color: rgb(234, 130, 32);
}

footer
{
	background-color: #000000;
	color: #FFFFFF;
	padding: 8px;
}

footer > a
{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}